---
title: Posts
layout: main
---
<div class="posts">
  {% for post in collections.post reversed %}
    <div class="post-card">
      <h2>{{ post.data.title }}</h2>
      <p>{% excerpt post %}</p>
      <div class="footer">
        <p>{{ post.date | niceDate }}</p>
        <a href="{{post.url}}" class="button">Continue Reading</a>
      </div>
    </div>
  {% endfor %}
</div>